:root {
    --primaryColor: #050505;
    --secondaryColor: #dadada;
    --textColor: #7c7c7c;
    --greyColor: #343434;
    --whiteColor: #ffffff;
    --blackColor: #242424;
}

.auction {
    .secContainer {
        .secHeading {
            justify-content: space-between;
            padding: 1rem 0;

            .navBtns {
                gap: .5rem;

                .icon {
                    padding: 3px 5px;
                    background: var(--secondaryColor);
                    border-radius: 3px;
                    font-size: 30px;
                    cursor: pointer;

                    &:hover {
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .carContainer {
            gap: 2rem;
            display: grid; 
            grid-template-columns: repeat(1, 1fr);
            padding: 1rem; 

            .singleCarcard {
                transition: .3s ease-in-out;
                text-align: left;
                padding: 1rem;
                border-radius: 10px;
                background: var(--whiteColor); 
                box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2); 
                height: 500px; 
                display: flex;
                flex-direction: column; 
                justify-content: space-between; 
                
                .imgDiv {
                    height: 300px; 
                    width: 100%;
                    overflow: hidden;
                    border-radius: 10px;
                    border: 5px solid transparent;
                    position: relative; 
                    
                    .img {
                        height: 110%;
                        width: 100%;
                        object-fit: cover; 
                        transition: transform 0.5s ease; 
                    }
                }

                .carTitle {
                    color: var(--blackColor);
                    font-size: 16px;
                    padding-top: 10px;
                    font-weight: bold; 
                }

                .kilometri {
                    color: var(--blackColor);
                    opacity: .7;
                    font-size: 14px;
                }

                .AWD {
                    padding: 1rem 0;
                    color: var(--blackColor);
                    font-weight: 600;
                    font-size: 15px;
                }

                .price_buyBtn {
                    gap: 1rem;

                    span {
                        cursor: pointer;
                        padding: .5rem 1rem;
                        border-radius: 3px;
                        font-weight: 600;
                    }

                    .price {
                        background: var(--secondaryColor);
                        color: var(--primaryColor);
                        margin-right: 2rem;
                        cursor: pointer;

                        &:hover {
                            background: var(--secondaryColor);
                            color: var(--primaryColor);
                        }
                    }

                    .buyBtn {
                        background: var(--primaryColor);
                        color: var(--textColor);

                        &:hover {
                            background: var(--greyColor); 
                            color: var(--whiteColor);
                        }
                    }
                }

                &:hover {
                    transform: translateY(-7px);
                    padding: 1rem;
                    background: var(--secondaryColor);

                    .price_buyBtn {
                        span {
                            border: 1px solid var(--primaryColor);
                        }
                    }

                    .imgDiv .img {
                        transform: scale(1.1); 
                    }
                }
            }

            .singleCarActive {
                padding: 1rem;
                background: var(--secondaryColor);

                .price_buyBtn {
                    span {
                        border: 1px solid var(--primaryColor);
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 520px) {
    .auction {
        .secContainer {
            .secHeading {
                margin-top: 1rem;
                .secTitle {
                    font-size: 23px;
                }

                .navBtns {
                    gap: .5rem;
                    .icon {
                        font-size: 40px;
                    }
                }
            }

            .carContainer {
                grid-template-columns: repeat(2, 1fr); 

                .singleCar {
                    .carTitle {
                        font-size: 18px;
                    }

                    .kilometri,
                    .AWD {
                        font-size: 16px;
                    }

                    .price_buyBtn {
                        font-weight: 600;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 940px) {
    .auction {
        .secContainer {
            .secHeading {
                .secTitle {
                    font-size: 28px;
                }

                .navBtns {
                    gap: 1rem;
                }
            }

            .carContainer {
                grid-template-columns: repeat(3, 1fr); 
            }
        }
    }
}
