
:root{
    --primaryColor: #050505;
    --secondaryColor: #dadada;
    --textColor: #7c7c7c;
    --greyColor: #343434;
    --whiteColor: #ffffff;
    --blackColor: #242424
    }


    .header{
        position: fixed;
        display: flex;
        align-items: center;
        background: var(--primaryColor);
        justify-content: space-between;
        width: 100%;
        padding: .5rem 1.5rem;
        box-shadow: 0 4px 6px rgb(237,237,237);
        z-index: 1000;
        .logoDiv{
            .logo{
                width: 90px;
            }
        }

        @media screen and (max-width: 768px) {
         .navbar{
           position: absolute;
           background: var(--secondaryColor);
           width: 80%;
           top: -100rem;
           right: 50%;
           left: 50%;
           transform: translate(-50%);
           border-radius: 10px;
           text-align: center;
           padding: 2rem;
           transition: .3s ease;
           z-index: 2000;

           .closeIcon{
            position: absolute;
            bottom: -15px;
            right: 50%;
            left: 50%;
            transform: translate(-50%);
            background: var(--secondaryColor);
            color: var(--primaryColor);
            padding: 3px;
            border-radius: 50%;
            font-family: 35px;

            &hover {
                color: red;
            }

           }

        }

        .menu{
            display: flex;
            align-items: center;
            
            flex-direction: column;

            .listItem{
                padding: .5rem 1rem;
                border-radius: 10px;
                cursor: pointer;

                a{
                    font-size: 15px;
                }
                &:hover{
                    background: var(--primaryColor);
                    color: var(--whiteColor);
                    transition: .3s ease;
                }
                &:hover a{
                    color: var(--whiteColor);
                }
            }
        } 

     }
            .singUp {
                .text{
                    padding: 3px 10px;
                    background: var(--primaryColor);
                    border-radius: 3px;
                    color: var(--whiteColor);
                    cursor: pointer;
                    font-size: 14px;
                
                    &:hover{
                        background: var(--secondaryColor);
                        color: var(--blackColor);
                    }
                }
                .toggleNavbarIcon{
                    background: none;
                    color: var(--secondaryColor);
                    font-weight: 600;
                    font-size: 25px;
                }
            }
      .showNavbar{
        top: 7rem;
        transition: .5s ease;
      }


 }

 .addBg{
    background: var(--primaryColor);
    box-shadow: none;
 }


 @media screen and (min-width:520px) {
    .header{
        .logoDiv{
            img{
                width: 30px;
            }
        }

        .signUp{
            .text{
            padding: 6px;
            font-size: 16px;
        }
        

            .toggleNavbarIcon{
               font-size: 30px;
            }
        }    
    }
 }
 @media screen and (min-width:770px) {
    .header{
        .navbar{
            .closeIcon{
                display: none;
            }

            .menu{
                display: flex;
                flex-direction: row;

                .listItem{
                    padding: .3rem 1rem;
                    border-radius: 3px;

                    a{
                        color: var(--textColor);
                        font-size: 15px;
                    }
                    &:hover{
                        background: var(--primaryColor);
                        color: var(--whiteColor);
                        transition: .3s ease;
                    }
                    &:hover a{
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .signUp{
            .text{
                padding: 6px 14px;
            }

            .togglenavbarIcon{
                display: none;
            }
        }
    }
 }
 @media screen and (min-width:1064px) {
.header{
    .navbar{
        .menu{
            .listItem{
                a{
                    font-size: 17px;
                    }
                }
            }
        }

        .signUp{
            .text{
                font-size: 16px;
            }
        }
    }
}

@media screen and (min-width:1400px){
.header{
    .logoDiv{
        .logo{
            width: 150px;
        }
    }
    
    .navbar{
        .menu{
            padding-left: 7rem;
            .listItem{
                margin: 0 ;
            }
        }

            .signUp{
            .text{
                font-size: 18px;
                }
            }
        }
    }
}    