:root{
    --primaryColor: #050505;
    --secondaryColor: #dadada;
    --textColor: #7c7c7c;
    --greyColor: #343434;
    --whiteColor: #ffffff;
    --blackColor: #242424
}

.background{
    background: url("../../Assets/login1.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.page{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #ffffff;
}

.home {
    font-size: 18px;
    padding: .5rem 1rem;
    border-radius: 10px;
    cursor: pointer;
    color: var(--secondaryColor);

    a{
        font-size: 15px;
    }
    &:hover{
        color: var(--whiteColor);
        transition: .3s ease;
    }
    &:hover a{
        color: var(--whiteColor);
    }
}




.wrapper  {
    position: relative;
    width: 430px;
    height: 470px;
    background: transparent;
    border: 2px solid var(--textColor);
    backdrop-filter: blur(30px);
    color: var(--whiteColor);
    border-radius: 10px;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: height .2 ease;
    

    .form-box{
        width: 100%;
        padding: 40px;
    }

    .form-box.login{
        transition: translate .18s ease;
        translate: 0;
    }
    
    

    .form-box.register{
        position: absolute;
        transition: none;
        translate: 400px;

}
        


    h1 {
        font-size: 36px;
        text-align: center;
    }

    .input-box{
        position: relative;
        width: 100%;
        height: 50px;
        margin: 30px 0;

        input {
            width: 100%;
            height: 100%;
            background: transparent;
            border: none;
            outline: none;
            border: 2px solid var(--textColor);
            border-radius: 40px;
            font: 16px;
            color: var(--whiteColor);
            padding: 20px 45px 20px 20px;
        }

        input::placeholder{
            color: var(--whiteColor);
        }

        .icon{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translateY(-50%);
            font-size: 16px;
        }
    }


    .remember-forgot{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14.5px;
        margin: -15px 0 15px;
        color: var(--whiteColor);

    .box{
        display: flex;
    align-items: center;
    white-space: nowrap;
    color: var(--whiteColor);
    }    


    label input {
        accent-color: var(--whiteColor);
        margin-right: 4px;
    }

    a {
        color: var(--whiteColor);
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
    }

    button {
        width: 100%;
        height: 45px;
        background: var(--whiteColor);
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px var(--primaryColor);
        cursor: pointer;
        font-size: 16px;
        color: var(--greyColor);
        font-weight: 700;
    }
    .register-link{
        font-size: 14.5px;
        text-align: center;
        margin-top: 20px;

        p{
            color: var(--whiteColor);
            
         }
        a {
            color: var(--whiteColor);
            text-decoration: none;
            font-weight: 600;
            
        }
        a:hover{
            text-decoration: underline;
        }
    }
   
}

.wrapper.active{
    height: 520px;
}

.wrapper.active .form-box.login {
    transition: none;
    translate: -400px;
}

.wrapper.active .form-box.register {
    transition: translate 0.18s ease;
    translate: 0;
}